input[type="checkbox"] {
    accent-color:#FFC107
}


.select2-selection__rendered { display: none!important;}
.single-option {
    background-color: #FFF6DB;
    color: #FFC107;
    font-size: 18px;

    border-radius: 20px;
    margin: 10px 0;
    padding:  5px;
}

.single-option .btn {
    color: #FFF;
    border-radius: 50%;
    padding: 1px 5px;
    margin: 0 10px;
    background-color: #FFC107;
    line-height: 1;
    font-size: 18px;
}

.select2-dropdown  {
    border: 0!important;;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%)!important;;
}
.select2-container--default .select2-results__option--selected {
    background-color: unset;
}
.checkbox input {
    width: 10%;
}
.select2-selection {
    border-radius: 10px!important;;
    padding: 10px;
    border: 0!important;;
    background-color: #efeded!important;;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
}